<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kirck.mapper.MerchantDealMapper">
	
	    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, merchant_id, deal_title,price,store_price,dianping_url_id,create_date
    </sql>
    
    <insert id="batchInsert" parameterType="java.util.List">
        insert INTO t_merchant_deal 
        (
        <include refid="Base_Column_List" />
        )
        VALUES 
        <foreach  collection ="merchantDeals" item="merchantDeal" separator =",">
         (
         #{merchantDeal.id}, #{merchantDeal.merchantId}, #{merchantDeal.dealTitle},
         #{merchantDeal.price}, #{merchantDeal.storePrice}, #{merchantDeal.dianpingUrlId},
         #{merchantDeal.createDate}
         )
    	</foreach >
    </insert>
    
    <select id= "getLastDealIds" resultType="java.lang.String">
    select dianping_url_id from t_merchant_deal where create_date > (select SUBTIME(create_date,'1:0:0') from t_merchant_deal ORDER BY create_date desc limit 1)
    </select>
</mapper>
